{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ashion | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}" type="text/css">
</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

{% include 'new/headers.html' %}
<!-- Breadcrumb Begin -->
<!-- Breadcrumb End -->

<!-- if buyer -->
<section class="blog-details spad">
    <div class="container">
        <div class="blog__comment__item">
            <div class="blog__comment__item__pic">
                <img src="{{ profile.photo.url }}" alt="">
            </div>
            <div class="blog__comment__item__text">
                <h6>{{ profile }}</h6>
                <p>{{ profile.biography }}.</p>
            </div>
            {% if not is_mine %}
                <form action="" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="site-btn">Подписаться</button>
                </form>
            {% endif %}
            <div class="followers">
                {{ profile.followers.count }} подписчика
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <div class="blog__details__content">
                    <div class="section-title">
                        <h4>Обзор</h4>
                    </div>
                </div>
                <div class="row">
                    {% for album in albums %}
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            {% include 'new/album_card.html' %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="blog__sidebar">
                    <div class="blog__sidebar__item">
                        <div class="section-title">
                            <h4>Альбомы</h4>
                        </div>
                        <ul>
                            <li><a href="{% url 'market:my-albums-view' profile.slug %}">Все <span>{{ profile.albums.count }}</span></a></li>
                        </ul>
                    </div>
                    <div class="blog__sidebar__item">
                        <div class="section-title">
                            <h4>Тэги</h4>
                        </div>
                        <div class="blog__sidebar__tags">
                            <a href="#">Абстракция</a>
                            <a href="#">Люди</a>
                            <a href="#">Хуета</a>
                            <a href="#">Я хз</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Instagram Begin -->
<!-- Instagram End -->

<!-- Footer Section Begin -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-7">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a href="./index.html"><img src="{% static 'img/logo.png' %}" alt=""></a>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        cilisis.</p>
                    <div class="footer__payment">
                        <a href="#"><img src="{% static 'img/payment/payment-1.png' %}" alt=""></a>
                        <a href="#"><img src="{% static 'img/payment/payment-2.png' %}" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-5">
                <div class="footer__widget">
                    <h6>Навигация</h6>
                    <ul>
                        <li><a href="#">О нас</a></li>
                        <li><a href="#">Галерея</a></li>
                        <li><a href="#">Контакты</a></li>
                        <li><a href="#">Часто задаваемые вопросы</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4">
                <div class="footer__widget">
                    <h6>Аккаунт</h6>
                    <ul>
                        <li><a href="#">Мой аккаунт</a></li>
                        <li><a href="#">Платежная информация</a></li>
                        <li><a href="#">Понравившиеся</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-8">
                <div class="footer__newslatter">
                    <h6>Новостная рассылка</h6>
                    <form action="#">
                        <input type="text" placeholder="Email">
                        <button type="submit" class="site-btn">Подписаться</button>
                    </form>
                    <div class="footer__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Search Begin -->
{% include 'new/search_bar.html' %}
<!-- Search End -->

<!-- Js Plugins -->
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/mixitup.min.js' %}"></script>
<script src="{% static 'js/jquery.countdown.min.js' %}"></script>
<script src="{% static 'js/jquery.slicknav.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/jquery.nicescroll.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
</body>

</html>