<div class="product__item lot">
    <div class="product__item__pic set-bg-lot"
         data-setbg="{{ lot.muzzle.image.url }}">
        <ul class="product__hover">
            <li><a href="{{ lot.muzzle.image.url }}" class="image-popup"><span
                    class="arrow_expand"></span></a></li>
            {% if lot in request.user.favorites.all %}
                <li><a href="{% url 'market:delete_favor' lot.slug %}"><span class="icon_dislike_alt"></span></a></li>
            {% else %}
                <li><a href="{% url 'market:add_favor' lot.slug %}"><span class="icon_heart_alt"></span></a></li>
            {% endif %}
        </ul>
    </div>
    <div class="product__item__text">
        <h6><a href="{{ lot.get_absolute_url }}">{{ lot.name }}</a></h6>
        <h6><a href="{{ lot.author.get_absolute_url }}">{{ lot.author }}</a></h6>
        <div class="product__price">{{ lot.get_price }} Р</div>
    </div>
</div>