<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ashion | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.min.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__close">+</div>
        <ul class="offcanvas__widget">
            <li><span class="icon_search search-switch"></span></li>
            <li><a href="#"><span class="icon_heart_alt"></span>
                <div class="tip">2</div>
            </a></li>
            <li><a href="#"><span class="icon_bag_alt"></span>
                <div class="tip">2</div>
            </a></li>
        </ul>
        <div class="offcanvas__logo">
            <a href="./index.html"><img src="img/logo.png" alt=""></a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__auth">
            <a href="#">Login</a>
            <a href="#">Register</a>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-lg-2">
                    <div class="header__logo">
                        <a href="./index.html"><img src="img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7">
                    <nav class="header__menu">
                        <ul>
                            <li><a href="./index.html">Home</a></li>
                            <li><a href="#">Women’s</a></li>
                            <li><a href="#">Men’s</a></li>
                            <li class="active"><a href="./shop.html">Shop</a></li>
                            <li><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="./product-details.html">Product Details</a></li>
                                    <li><a href="./shop-cart.html">Shop Cart</a></li>
                                    <li><a href="./checkout.html">Checkout</a></li>
                                    <li><a href="./blog-details.html">Blog Details</a></li>
                                </ul>
                            </li>
                            <li><a href="./blog.html">Blog</a></li>
                            <li><a href="./contact.html">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__right">
                        <div class="header__right__auth">
                            <a href="#">Login</a>
                            <a href="#">Register</a>
                        </div>
                        <ul class="header__right__widget">
                            <li><span class="icon_search search-switch"></span></li>
                            <li><a href="#"><span class="icon_heart_alt"></span>
                                <div class="tip">2</div>
                            </a></li>
                            <li><a href="#"><span class="icon_bag_alt"></span>
                                <div class="tip">2</div>
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Breadcrumb Begin -->
    <!-- Breadcrumb End -->

    <!-- Shop Section Begin -->
    <section class="shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="shop__sidebar">
                        <div class="sidebar__categories">
                            <div class="section-title">
                                <h4>По группам</h4>
                            </div>
                            <div class="categories__accordion">
                                <div class="accordion" id="accordionExample">
                                    <div class="card">
                                        <div class="card-heading active">
                                            <a data-toggle="collapse" data-target="#collapseOne">Категории</a>
                                        </div>
                                        <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <div class="checks__list">
                                                    <label for="photo">
                                                        Фотография
                                                        <input type="checkbox" id="photo">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                    <label for="paint">
                                                        Живопись
                                                        <input type="checkbox" id="paint">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                    <label for="graph">
                                                        Графика
                                                        <input type="checkbox" id="graph">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                    <label for="posters">
                                                        Постеры
                                                        <input type="checkbox" id="posters">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                    <label for="sew">
                                                        Вышивка
                                                        <input type="checkbox" id="sew">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                    <label for="collage">
                                                        Коллажи
                                                        <input type="checkbox" id="collage">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                    <label for="sculpture">
                                                        Скульптура
                                                        <input type="checkbox" id="sculpture">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                    <label for="sketch">
                                                        Эскизы и этюды
                                                        <input type="checkbox" id="sketch">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-heading">
                                            <a data-toggle="collapse" data-target="#collapseTwo">Стили</a>
                                        </div>
                                        <div id="collapseTwo" class="collapse" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <div class="checks__list">
                                                    <label for="abstract">
                                                        Абстракционизм
                                                        <input type="checkbox" id="abstract">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                    <label for="impression">
                                                        Импрессионизм
                                                        <input type="checkbox" id="impression">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                    <label for="expression">
                                                        Экспрессионизм
                                                        <input type="checkbox" id="expression">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                    <label for="cubism">
                                                        Кубизм
                                                        <input type="checkbox" id="cubism">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                    <label for="popart">
                                                        Поп-арт
                                                        <input type="checkbox" id="popart">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                    <label for="sur">
                                                        Сюрреализм
                                                        <input type="checkbox" id="sur">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                    <label for="realism">
                                                        Реализм
                                                        <input type="checkbox" id="realism">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                    <label for="hyper">
                                                        Гиперреализм
                                                        <input type="checkbox" id="hyper">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-heading">
                                            <a data-toggle="collapse" data-target="#collapseThree">Жанры</a>
                                        </div>
                                        <div id="collapseThree" class="collapse" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <div class="checks__list">
                                                    <label for="absion">
                                                        Абстракция
                                                        <input type="checkbox" id="absion">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                    <label for="portrait">
                                                        Портрет
                                                        <input type="checkbox" id="portrait">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                    <label for="landscape">
                                                        Пейзаж
                                                        <input type="checkbox" id="landscape">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                    <label for="stillife">
                                                        Натюрморт
                                                        <input type="checkbox" id="stillife">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                    <label for="animal">
                                                        Анималистика
                                                        <input type="checkbox" id="animal">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                    <label for="ca">
                                                        Каррикатура
                                                        <input type="checkbox" id="ca">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                    <label for="sh">
                                                        Шарж
                                                        <input type="checkbox" id="sh">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar__filter">
                            <div class="section-title">
                                <h4>По цене</h4>
                            </div>
                            <div class="filter-range-wrap">
                                <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                                data-min="33" data-max="99"></div>
                                <div class="range-slider">
                                    <div class="price-input">
                                        <p>Цена:</p>
                                        <input type="text" id="minamount">
                                        <input type="text" id="maxamount">
                                    </div>
                                </div>
                            </div>
                            <a href="#">Смотреть</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg-lot" data-setbg="img/trend/айвейвей.png">
                                    <ul class="product__hover">
                                        <li><a href="img/trend/айвейвей.png" class="image-popup"><span class="arrow_expand"></span></a></li>
                                        <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="#">Кокакола</a></h6>
                                    <h6><a href="#">Антон Тарасюк</a></h6>
                                    <div class="product__price">8000</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg-lot" data-setbg="img/product/антонтарасюк.png">
                                    <ul class="product__hover">
                                        <li><a href="img/product/джимдайн.png" class="image-popup"><span class="arrow_expand"></span></a></li>
                                        <li><a href="#"><span class="icon_heart_alt"></span></a></li>                                         
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="#">Кипяток</a></h6>
                                    <h6><a href="#">Антон Тарасюк</a></h6>
                                    <div class="product__price">88000 Р</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg-lot" data-setbg="img/trend/кудзанайчиурай.png">
                                    <ul class="product__hover">
                                        <li><a href="img/trend/айвейвей.png" class="image-popup"><span class="arrow_expand"></span></a></li>
                                        <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="#">Furry hooded parka</a></h6>
                                    <h6><a href="#">Антон Тарасюк</a></h6>
                                    <div class="product__price">8000</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg-lot" data-setbg="img/product/алекскац.png">
                                    <ul class="product__hover">
                                        <li><a href="img/product/алекскац.png" class="image-popup"><span class="arrow_expand"></span></a></li>
                                        <li><a href="#"><span class="icon_heart_alt"></span></a></li>                                         
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="#">Портрет женщины</a></h6>
                                    <h6><a href="#">Алекс Кац</a></h6>
                                    <div class="product__price">8000 Р</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg-lot" data-setbg="img/product/джейндиксон.png">
                                    <ul class="product__hover">
                                        <li><a href="img/product/джейндиксон.png" class="image-popup"><span class="arrow_expand"></span></a></li>
                                        <li><a href="#"><span class="icon_heart_alt"></span></a></li>                                        
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="#">Ночь</a></h6>
                                    <h6><a href="#">Джейн Диксон</a></h6>
                                    <div class="product__price">7000 Р</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg-lot" data-setbg="img/product/антонтарасюк.png">
                                    <ul class="product__hover">
                                        <li><a href="img/product/джимдайн.png" class="image-popup"><span class="arrow_expand"></span></a></li>
                                        <li><a href="#"><span class="icon_heart_alt"></span></a></li>                                        
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="#">Кипяток</a></h6>
                                    <h6><a href="#">Антон Тарасюк</a></h6>
                                    <div class="product__price">88000 Р</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg-lot" data-setbg="img/product/джимдайн.png">
                                    <div class="label new">Новое</div>
                                    <ul class="product__hover">
                                        <li><a href="img/product/джимдайн.png" class="image-popup"><span class="arrow_expand"></span></a></li>
                                        <li><a href="#"><span class="icon_heart_alt"></span></a></li>                                       
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="#">Женщины и Вода</a></h6>
                                    <h6><a href="#">Джим Дайн</a></h6>
                                    <div class="product__price">59000 Р</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg-lot" data-setbg="img/product/анастейшапелиас2.png">
                                    <ul class="product__hover">
                                        <li><a href="img/product/анастейшапелиас2.png" class="image-popup"><span class="arrow_expand"></span></a></li>
                                        <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="#">Тоже что-то крутое</a></h6>
                                    <h6><a href="#">Антон Тарасюк</a></h6>
                                    <div class="product__price">9 000</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg-lot" data-setbg="img/product/анастейшапелиас4.png">
                                    <ul class="product__hover">
                                        <li><a href="img/product/анастейшапелиас4.png" class="image-popup"><span class="arrow_expand"></span></a></li>
                                        <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="#">Что-то</a></h6>
                                    <h6><a href="#">Антон Тарасюк</a></h6>
                                    <div class="product__price">8000</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 text-center">
                            <div class="pagination__option">
                                <a href="#">1</a>
                                <a href="#">2</a>
                                <a href="#">3</a>
                                <a href="#"><i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shop Section End -->

    <!-- Instagram Begin -->
    <!-- Instagram End -->

<!-- Footer Section Begin -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-7">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a href="./index.html"><img src="img/logo.png" alt=""></a>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    cilisis.</p>
                    <div class="footer__payment">
                        <a href="#"><img src="img/payment/payment-1.png" alt=""></a>
                        <a href="#"><img src="img/payment/payment-2.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-5">
                <div class="footer__widget">
                    <h6>Навигация</h6>
                    <ul>
                        <li><a href="#">О нас</a></li>
                        <li><a href="#">Галерея</a></li>
                        <li><a href="#">Контакты</a></li>
                        <li><a href="#">Часто задаваемые вопросы</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4">
                <div class="footer__widget">
                    <h6>Аккаунт</h6>
                    <ul>
                        <li><a href="#">Мой аккаунт</a></li>
                        <li><a href="#">Платежная информация</a></li>
                        <li><a href="#">Понравившиеся</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-8">
                <div class="footer__newslatter">
                    <h6>Новостная рассылка</h6>
                    <form action="#">
                        <input type="text" placeholder="Email">
                        <button type="submit" class="site-btn">Подписаться</button>
                    </form>
                    <div class="footer__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Search Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Поиск.....">
        </form>
    </div>
</div>
<!-- Search End -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.nicescroll.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>