{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block title %}{{ picture.name }} - {{ picture.author }}{% endblock %}

{% block content %}
    <header class="header">
        <div class="container">

            <div class="header-main">

                <div class="header-main-logo">
                    <img src="https://via.placeholder.com/150x100" alt="hello">
                    <div class="header-main-logo-name">Name</div>
                </div>

                <div class="header-main-info">Info</div>

            </div>
        </div>
        <hr>
    </header>

    <section class="section">
        <aside class="aside-gallery">
            {% for pic_img in picture_images %}
                {% if forloop.counter != 1 %}
                    <div class="gallery-item">
                        <img src="{{ pic_img.image.url }}" alt="gallery-img" class="gallery-item-img">
                    </div>
                {% endif %}
            {% endfor %}
        </aside>

        <main class="main">
            <div class="main-tittle">
                <div class="main-title-item">
                    <h2>{{ picture.name }}</h2>
                </div>
                <div class="main-title-item">{{ picture.author }}</div>
                <div class="main-title-item">Длина: {{ picture.length }}; Ширина: {{ picture.width }}</div>
            </div>
            <div>
                <img src="{{ picture_images.first.image.url }}" alt="main-img" class="main-picture">
            </div>

        </main>

        <aside class="aside-info">
            <div class="aside-info-item">Категория: {{ picture.get_category_display }}</div>
            <div class="aside-info-item">Тема:  {{ picture.get_theme_display }}</div>
            <div class="aside-info-item">Стиль:  {{ picture.get_style_display }}</div>
            <div class="aside-info-item">Жанр:  {{ picture.get_genre_display }}</div>
            <br>
            <div class="aside-info-item">Описание:  {{ picture.description }}</div>
        </aside>
        <div class="section-2-row">
            <div class="gallery-info">
                <p></p>
            </div>

            <div class="author">
                <img src="https://via.placeholder.com/75x100" alt="author-photo"
                     class="author-img">
                <div class="author-info">
                    <div class="author-name">
                        <h3>Имя Фамилия</h3>
                    </div>
                    <div class="author-description">Автор данного проекта гений</div>
                </div>
            </div>
            <div class="space"></div>
        </div>
    </section>
{% endblock %}

