{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
{% include 'navbar.html' %}
<section class="gallery">
    <div class="container">
        <h1>Галерея</h1>
        <div class="row">
            <div class="col-4">
                <h3>Фильтр</h3>
                <form action="" method="GET">
                    <ul class="filter">
                        <li class="category">
                            <p>
                                <a class="btn" id="cat" data-bs-toggle="collapse" href="#collapseExample1" role="button"
                                   aria-expanded="false" aria-controls="collapseExample1">
                                    Категории
                                </a>
                            </p>
                            <div class="collapse" id="collapseExample1">
                                <div class="card card-body">
                                    <ul class="list-group">
                                        {% for category in categories %}
                                        <li class="list-group-item">
                                            <input class="form-check-input me-1" type="checkbox" name="category[]"
                                                   value="{{ category }}"
                                                   aria-label="...">
                                            {{ category.label }}
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="style">
                            <p>
                                <a class="btn" id="st" data-bs-toggle="collapse" href="#collapseExample2" role="button"
                                   aria-expanded="false" aria-controls="collapseExample2">
                                    Стили
                                </a>
                            </p>
                            <div class="collapse" id="collapseExample2">
                                <div class="card card-body">
                                    <ul class="list-group">
                                        {% for style in styles %}
                                        <li class="list-group-item">
                                            <input class="form-check-input me-1" type="checkbox" name="style[]"
                                                   value="{{ style }}"
                                                   aria-label="...">
                                            {{ style.label }}
                                        </li>
                                        {% endfor %}

                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="genre">
                            <p>
                                <a class="btn" id="gen" data-bs-toggle="collapse" href="#collapseExample3" role="button"
                                   aria-expanded="false" aria-controls="collapseExample3">
                                    Жанры
                                </a>
                            </p>
                            <div class="collapse" id="collapseExample3">
                                <div class="card card-body">
                                    <ul class="list-group">
                                        {% for genre in genres %}
                                        <li class="list-group-item">
                                            <input class="form-check-input me-1" type="checkbox" name="genre[]"
                                                   value="{{ genre }}"
                                                   aria-label="...">
                                            {{ genre.label }}
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <div class="price">
                            <img src="{% static 'img/ценафон.png' %}" alt="">
                            <div class="rangegroup">
                                <div class="pricetag">
                                    Цена
                                </div>
                                <input type="range" name="input_price" class="form-range" id="customRange1"
                                       min="{{ min_price }}" max="{{ max_price }}">
                            </div>
                        </div>
                    </ul>
                    <button class="m-auto" type="submit" id="id_btn_search">
                        Поиск
                    </button>
                </form>
            </div>
            <div class="col-8">
                <div class="row">
                    <div class="col-6">
                        <ul class="cardcol">
                            {% for pic in col1 %}
                            <div class="cardcol-card">
                                <a href="{{ pic.get_absolute_url }}"><img src="{{ pic.muzzle.image.url }}" alt=""></a>
                                <div class="description">
                                    <p id="name">
                                        {{ pic.name }}
                                    </p>
                                    <p id="time">
                                        {{ pic.year_created }}
                                    </p>
                                    <p id="author">
                                        {{ pic.author }}
                                    </p>
                                    <p id="price">
                                        {{ pic.get_price }}р
                                    </p>
                                </div>
                            </div>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul class="cardcol">
                            {% for pic in col2 %}
                            <div class="cardcol-card">
                                <a href="{{ pic.get_absolute_url }}"><img src="{{ pic.muzzle.image.url }}" alt=""></a>
                                <div class="description">
                                    <p id="name">
                                        {{ pic.name }}
                                    </p>
                                    <p id="time">
                                        {{ pic.year_created }}
                                    </p>
                                    <p id="author">
                                        {{ pic.author }}
                                    </p>
                                    <p id="price">
                                        {{ pic.get_price }}р
                                    </p>
                                </div>
                            </div>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            {% if is_paginated %}
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item {% if not previous_url %} disabled {% endif %}">
                        <a class="page-link" type="submit"
                           href="{{ previous_url }}">Previous</a>
                    </li>
                    {% for n in page.paginator.page_range %}
                    {% if page.number == n %}
                    <li class="page-item active">
                        <a class="page-link" type="submit"
                           href="?page={{ n }}">{{ n }}</a>
                    </li>
                    {% elif n > page.number|add:-3 and n < page.number|add:3 %}
                    <li class="page-item">
                        <a class="page-link" type="submit"
                           href="?page={{ n }}">{{ n }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                    <li class="page-item {% if not next_url %} disabled {% endif %}">
                        <a class="page-link" href="{{ next_url }}">Next</a>
                    </li>
                </ul>
            </nav>
            {% endif %}
        </div>
    </div>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
        crossorigin="anonymous"></script>
<script src="{% static 'js/ajax.js' %}"></script>
</body>