{% load static %}
{% load bootstrap4 %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>JuvenisArts</title>
</head>
<body>
{% include 'navbar.html' %}
<div class="loadingcontainer">
    <h1>
        Загрузить работу
    </h1>
    <form action="" method="POST" enctype='multipart/form-data'>
        {% csrf_token %}
        <div class="row">
            <div class="col-6">
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Название</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" name="name" required>
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Цена</label>
                    <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="price" required>
                    <div id="emailHelp" class="form-text">Цену указывать в рублях.</div>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Описание</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description"></textarea>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Длина</label>
                        <input type="number" class="form-control" id="inputEmail4" name="length" required>
                    </div>
                    <div class="col-md-6">
                        <label for="inputPassword4" class="form-label">Ширина</label>
                        <input type="number" class="form-control" id="inputPassword4" name="width" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <select class="form-select" aria-label="Default select example" required>
                            <option selected>Жанр</option>
                            {% for genre in genres %}
                            <option value="{{ genre }}">{{ genre.label }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-4">
                        <select class="form-select" aria-label="Default select example" required>
                            <option selected>Стиль</option>
                            {% for style in styles %}
                            <option value="{{ style }}">{{ style.label }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-4">
                        <select class="form-select" aria-label="Default select example" required>
                            <option selected>Категория</option>
                            {% for category in categories %}
                            <option value="{{ category }}">{{ category.label }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <label for="exampleFormControlTextarea1" class="form-label">Темы</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" name="theme" required></textarea>
            </div>
            <div class="col-6">
                <div class="mb-3">
                    <label for="formFile" class="form-label">Главное фото работы (превью):</label>
                    <input class="form-control" type="file" id="formFile" name="pictures[]" required>
                </div>
                <div class="mb-3">
                    <label for="formFileMultiple" class="form-label">Дополнительные фото работы:</label>
                    <input class="form-control" type="file" id="formFileMultiple" multiple="multiple" name="pictures[]">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Техника</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" name="technique">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Год создания</label>
                    <input type="number" class="form-control" id="exampleFormControlInput1" name="year_created" maxlength="4" required>
                </div>
                <button type="submit">
                    Готово
                </button>
            </div>

        </div>
    </form>
</div>
<footer>
    <div class="part">
        Copyright Я хз что тут писать
        <hr>
        2022
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
<script src="{% static 'js/ajax.js' %}"></script>
</body>
</html>